/* General styles */

.App {
  text-align: center;
  background-size: cover;
  background-attachment: fixed; /* Make the background image fixed */
  background-position: center;
  min-height: 100vh; /* Set a minimum height to ensure it covers the entire viewport */
  overflow: auto; /* auto fit */
}

/* Menu bar */
.AppMenuBar {
  background-color: #304064; /* Dark blue background color */
  padding: 10px; /* Add padding for better appearance */
  width: 100%;
}

/* Bottom section */
.App .buttom {
    margin: 0px;
    padding: 10px;
    background-color: #304064;
    overflow: visible;
    width: 102%;
    /*max-width: 100%;*/
    height: 150px;
    max-height: 100%;

}

/* Zoom-out effect */
.zoom-out {
  transform: scale(1);
  opacity: 0;
}

.App-link {
  color: #61dafb;
}
